.navItem {
    color: coral;
    font-family: Montserrat, sans-serif;
    /*letter-spacing: 1px;*/
    width: 100%;
    font-weight: bold;
    font-size: medium;
    /*margin: 0px 0px 0px 220px;*/
    border-radius: 10px;
    font-size: small;
    /*display: block;*/
    /*padding: 0.5rem 1rem;*/
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.navItem:hover {
    background-color: #393939;
    color: coral;
}

.b1 {
    background: rgb(255,127,80);
    background: linear-gradient(90deg, rgba(255,127,80,1) 0%, rgba(255,181,154,1) 48%, rgba(255,127,80,1) 100%);
}
.baner {
    background-color: coral;
    width: 100%;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.appName {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 10px 0px 10px 0px;
}
.pageBg {
   /* margin: -16px 0px 0px 0px;*/
    width: 100%;
    /*height:100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageContent {
    background-color: white;
    height: auto;
    width: 80%;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #393939;
}
.footerArea {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footerContent {
    background-color: #212529;
    width: 100%;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerText {
    margin:2px 0px 0px 0px;
    color: rgba(255,181,154,1);
    font-family: Montserrat, sans-serif;
}

.nav-link active:hover {
   color: #ffa07a;

}

/* Responsive styles */
@media (max-width: 1000px) {
    .navbar ul li {
        display: block;
        margin: 10px 0;
    }

    .baner h1 {
        font-size: 2rem;
    }

    .main-content h2 {
        font-size: 1.5rem;
    }

    .main-content p {
        font-size: 1rem;
    }
}